[submodule "brane/wscbs2021-training"]
	path = brane/wscbs2021-training
	url = https://github.com/yaaani85/wscbs2021-training.git
	branch = main
[submodule "brane/wscbs2021-preprocessing"]
	path = brane/wscbs2021-preprocessing
	url = https://github.com/yaaani85/wscbs2021-preprocessing.git
	branch = main
[submodule "brane/wscbs2021-predicting"]
	path = brane/wscbs2021-predicting
	url = https://github.com/yaaani85/wscbs2021-predicting.git
	branch = main
[submodule "brane/kaggle-brane"]
	path = brane/kaggle-brane
	url = https://github.com/romnn/kaggle-brane.git
	branch = master
[submodule "brane/setup-brane-action"]
	path = brane/setup-brane-action
	url = https://github.com/romnn/setup-brane-action.git
	branch = master
[submodule "brane/wscbs2021-visualization"]
	path = brane/wscbs2021-visualization
	url = https://github.com/daanvinken/wscbs2021-visualization.git
	branch = master
