[submodule "brane/kaggle-web-traffic"]
	path = brane/kaggle-web-traffic
	url = https://github.com/Arturus/kaggle-web-traffic
[submodule "brane/kaggle-brane"]
	path = brane/kaggle-brane
	url = https://github.com/romnn/kaggle-brane.git
[submodule "brane/setup-brane-action"]
	path = brane/setup-brane-action
	url = https://github.com/romnn/setup-brane-action.git
[submodule "brane/wscbs2021-preprocessing"]
	path = brane/wscbs2021-preprocessing
	url = https://github.com/yaaani85/wscbs2021-preprocessing.git
[submodule "brane/wscbs2021-training"]
	path = brane/wscbs2021-training
	url = https://github.com/yaaani85/wscbs2021-training.git
[submodule "brane/wscbs2021-predicting"]
	path = brane/wscbs2021-predicting
	url = https://github.com/yaaani85/wscbs2021-predicting.git
[submodule "brane/--force"]
	path = brane/--force
	url = git@github.com:daanvinken/wscbs2021-visualization.git
